.NavBarItems {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  justify-content: space-between;
  padding: 0.5em 2em;
  font-family: "Nunito", sans-serif;
}

.NavBar-logo {
  fill: #1fa637;
  position: absolute;
  max-width: 90px;
}

.NavBar-menu {
  display: flex;
  align-items: center;
}

.NavBar-item {
  margin: 0 20px;
}

.NavBar-login {
  color: #1fa637;
  cursor: pointer;
}

.NavBar-login:hover {
  color: #8d9297;
}

.NavBar-signup {
  color: #1fa637;
  border: 1px solid #1fa637;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.NavBar-signup:hover {
  color: #8d9297;
}
