li {
list-style-type: none;
}

a {
    text-decoration: none;
    color: #8d9297;
    line-height:  2.14;
    letter-spacing: normal;
}

a:hover {
    letter-spacing: normal;
    color: #1fa637;
    line-height: 2.14;
    cursor: pointer;
}

#f3, #f2, #f1  {
    display: flex;
    flex-grow: 1;
}

#ffb {
    display: flex;
}


#fli, #fk, #f4 {
    display: flex;
}

#footer {
    display: flex;
    min-height: 30vh;
}
